<div id="main" >
	<div class="palm-page-header">
		<div class="header-icon mojotracker-icon32"></div>
		<div class="header-text">
			<span x-mojo-loc=''>About MojoTracker <span class="i18n">app.version</span></span>
		</div>
	</div>

	<p>
		<strong>
			Project Homepage:<br />
			<a href="http://code.google.com/p/mojotracker/">MojoTracker at Google Code</a>
		</strong>
	</p>

	<p>
		This program is published under
		<a href="http://www.opensource.org/licenses/bsd-license.php">BSD&nbsp;License</a>,
		so if some important feature is missing for you, feel free to contribute.
		Developing for WebOS platform is very easy!
	</p>

	<p>
		If you found a bug or you have an idea how make this application better, please
		<a href="http://code.google.com/p/mojotracker/issues/entry">fill new issue</a>.
	</p>

	<div class="changelog">
	<h2>Changelog</h2>
	<ul>
		<li>
			<strong>0.2.0</strong>
			<ul>
				<li>Add waypoints support</li>
				<li>Prevent sleep when tracking is on</li>
				<li>Make MojoTracker translatable</li>
				<li>Add popup menu to location (copy to clipboard, share via SMS/email)</li>
				<li>Fixed export to kml (null values issue)</li>
			</ul>
		</li>
		<li>
			<strong>0.1.29</strong>
			<ul>
				<li>Added screen with detailed track info</li>
				<li>Added altitude and speed graphs</li>
				<li>Added export to kml data format</li>
			</ul>
		</li>
		<li>
			<strong>0.1.28</strong>
			<ul>
				<li><strong>Warning: DB format isn't compatible with previous release</strong></li>
				<li>Displays and stores more information like altitude, position accuracy, speed...</li>
				<li>Added preference page, specify preferred units.</li>
				<li>Added page with list of saved tracks</li>
				<li>Added option to delete saved track</li>
				<li>Added export button,
					<a href="http://www.precentral.net/homebrew-apps/filemgr-service">FileMgr service</a>
					is required for this functionality (tested with FileMgr 0.5.1 api)</li>
				<li>Added compass</li>
			</ul>
		</li>
		<li>
			<strong>0.1.27</strong>
			<ul>
				<li><strong>Frist public release</strong></li>
				<li>Display position information from internal GPS</li>
				<li>Store tracks to SQLite file on internal storage</li>
				<li>Exports tracks to gpx file - requires external conversion tool</li>
			</ul>
		</li>
	</ul>
	</div>

</div>
