<div id="main" class="palm-hasheader">
	<div class="palm-header">About MojoTracker 0.1.28</div>
	
	<p>
		<strong>
			Project Homepage:<br />
			<a href="http://code.google.com/p/mojotracker/">MojoTracker at Google Code</a>
		</strong>
	</p>
	
	<p>
		This program is published under
		<a href="http://www.opensource.org/licenses/bsd-license.php">BSD&nbsp;License</a>,
		so if some important feature is missing for you, feel free to contribute.
		Developing for WebOS platform is very easy!
	</p>
	
	<p>
		If you found a bug or you have an idea how make this application better, please
		<a href="http://code.google.com/p/mojotracker/issues/entry">fill new issue</a>.
	</p>
	
	<div class="changelog">
	<h2>Changelog</h2>
	<ul>
		<li>
			<strong>0.1.28</strong>
			<ul>
				<li><strong>Warning: DB format isn't compatible with previous release</strong></li>
				<li>Display and store more informations like altitude, position accuracy, speed...</li>
				<li>Add preference page, make posibile specify prefered units.</li>
				<li>Add page with list of saved track</li>
				<li>Add posibility delete saved track</li>
				<li>Add export button,
					<a href="http://www.precentral.net/homebrew-apps/filemgr-service">FileMgr service</a>
					is requiered for this functionality (tested with FileMgr 0.5.1 api)</li>
				<li>Add compass</li>
			</ul>
		</li>
		<li>
			<strong>0.1.27</strong>
			<ul>
				<li><strong>Frist public release</strong></li>
				<li>Display position informations from internal GPS</li>
				<li>Store tracks to LiteSQL file on internal storage</li>
				<li>For export tracks to gpx file is required external tool</li>
			</ul>
		</li>
	</ul>
	</div>

</div>
