/* Put Application specific CSS here. */

p{
    margin: 0px 3px 0px 2px;
}

.export-track{
    background: url(../images/gpx-icon.png) center center no-repeat;
    float:right;
    width:80px;
    height:40px;
}

.right{
    float:right;
}

.resetter{
    clear:both;
    font-size:1px;
    margin:0px;
    padding:0px;
}

.margin10{
    margin:10px;
}

.tracker-line{
    margin-top:10px;
    position:relative;
}

.tracker-line-header{
    position:absolute;
    margin-top:-10px;
    margin-left:-4px;
    font-size:small;
    font-weight: bold;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: rgba(0,0,0, 0.2) 2px 2px 0px;
    font-family: "Arial Black", sans-serif;
}

.indent{
    margin-top: 20px;
}

.tracker-value{
    font-family:monospace;
    font-weight: bold;
    font-size:83%;
}

.changelog{
    margin:3px 10px 6px 10px;
}

.changelog h2{
    font-size:medium;
    margin: 0px 0px 5px 0px;
}

.changelog ul{
    font-size:small;
    margin:0px;
    padding:2px 0px 5px 20px;
}

.changelog li{
}

.palm-page-header .header-icon.mojotracker-icon32 {
	background: url(../images/icon32.png) no-repeat;
}

.unwrapped{
	white-space: nowrap;
	overflow: hidden;
	pading-right:10px;
	text-overflow: ellipsis;
}
