
<div class="palm-row removable"
	 x-mojo-gesture='Mojo.Gesture.HorizontalDrag'
	 x-mojo-tap-highlight="momentary"
	 >
	<!-- style="height: 70px" textfield multi-line removable palm-row-wrapper-->
	
	<div class="palm-row-wrapper">
		<!--
	<div class="palm-row-wrapper">
		<div class="export-track" onclick="TracksAssistant.getInstance().storeGpx('#{name}')"></div>
		
		title unwrapped
		preview
		-->
		<div class="" style="padding: 2px 0px 2px 8px">
			#{display_name}
		</div>
		<div style="padding-bottom: 3px">
			<div class="preview">
				#{startDateShort}
				&nbsp;
				#{lengthLabel}: #{trackLengthFormated}
				&nbsp;
				#{durationLabel}: #{trackDuration}
			</div>
			<div class="preview">
				#{nodesLabel}: #{nodes}
				&nbsp;
				#{waypointsLabel}: #{waypoints}
			</div>
		</div>
	</div>
</div>
