<div class="palm-hasheader">

    <div class="palm-group unlabeled">
        <div class="palm-list">

            <div class="palm-row first" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div id="unitsSelector" x-mojo-element="ListSelector"></div>
                </div>
            </div>
            
            <div class="palm-row" style="height: 100px" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    
		    <div x-mojo-element="CheckBox" id="split-checkbox" style="float:left"></div>
                    <div class="title" style="text-align:right;">Split exported files </div>
                    <div class="palm-body-text" style="margin-top:0px">FileMgr service in version 0.5.1 can't write larger file than ~50kB.</div>
                    
                </div>
            </div>

            <div class="palm-row last" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div id="posFormatSelector" x-mojo-element="ListSelector"></div>
                </div>
            </div>
            
        </div>
    </div>

</div>
