<div class="palm row textfield multi-line removable"
	 x-mojo-gesture='Mojo.Gesture.HorizontalDrag'
	 style="height: 70px">
	
	<div class="palm-row-wrapper">
		<!--
		<div class="export-track" onclick="TracksAssistant.getInstance().storeGpx('#{name}')"></div>
		-->
		<div class="title unwrapped">
			#{display_name}
		</div>
		<div class="preview">
			#{startDateShort}
			&nbsp;
			#{lengthLabel}: #{trackLengthFormated}
			&nbsp;
			#{durationLabel}: #{trackDuration}
		</div>
		<div class="preview">
			#{nodesLabel}: #{nodes}
			&nbsp;
			#{waypointsLabel}: #{waypoints}
		</div>
		
	</div>
</div>
