<div id="main" class="palm-hasheader">
	<div class="palm-header">MojoTracker - by Ian Wilson</div>
	<div id="headermsg" class="palm-body-text">Please click the button below ...</div>
	<div id="btnStart" x-mojo-element="Button">xx</div>
	<div id="btnStop" x-mojo-element="Button">xx</div>
	<div id="messagearea" class="palm-body-text">iantemp</div>
	<div id="latitude" class="palm-body-text"></div>
	<div id="longitude" class="palm-body-text"></div>
	<div id="speed" class="palm-body-text"></div>
	<div id="tracknum" class="palm-body-text"></div>
</div>
