<div>
    <h3 id="title"></h3>
    <hr />
    
    <div class="palm-list">

        <div class="" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" >
                <div class="title">
                    <div class="label">
                        <span id="label"></span>
                    </div>
                    <div id="input" name="input" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
                
    </div>
    
    <div id="saveButton" class="palm-button" x-mojo-tap-highlight="momentary">
        <span x-mojo-loc="" id="okBtn"></span>
    </div>
</div>
