<div>
    <h3 id="title"></h3>
    <hr />
    
    <div class="palm-list">

        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" >
                <div class="title">
                    <div class="label">
                        <span id="wpntDialogTitleLabel"></span>
                    </div>
                    <div id="waypointTitle" name="waypointTitle" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
        
        <div class="palm-row last" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" >
                <div class="title">
                    <div class="label">
                        <span id="wpntDialogDesctiptionLabel"></span>
                    </div>
                    <div id="waypointDescription" name="waypointDescription" x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="saveButton" class="palm-button" x-mojo-tap-highlight="momentary">
        <span x-mojo-loc="" id="wpntDialogSave"></span>
    </div>
</div>
