<div id="main" >
	<div class="palm-page-header">
		<div class="header-icon mojotracker-icon32"></div>
		<div class="header-text">
			<span x-mojo-loc=''>&Agrave; propos de MojoTracker <span class="i18n">app.version</span></span>
		</div>
	</div>

	<div id="widget" style="text-align:center; width: 67px; height: 67px; overflow: hidden; float: right; margin:10px 10px 5px 3px;">
		<!-- Ohloh widget -->
	</div>

	<p>
		<strong>
			Page d'accueil du projet&nbsp;:<br />
			<a href="http://code.google.com/p/mojotracker/">MojoTracker sur Google Code</a>
		</strong>
	</p>

	<p>
		Ce logiciel est publi&eacute; sous les termes de la
		<a href="http://www.opensource.org/licenses/bsd-license.php">Licence&nbsp;BSD</a>,
		donc s'il manque une fonctionnalit&eacute; importante, n'h&eacute;sitez pas &agrave; contribuer.
		Le d&eacute;veloppement pour la plateforme webOS est tr&egrave;s simple!
	</p>

	<p>
        Si vous avez trouv&eacute; un bogue ou avez une id&eacute;e d'am&eacute;lioration, merci de
		<a href="http://code.google.com/p/mojotracker/issues/entry">remplir un rapport</a>.
	</p>

	<p>
        Traduction fran&ccedil;aise par <a href="http://neelfyn.info/">Neelfyn</a>.
	</p>

	<div class="changelog">
	<h2>Changelog</h2>
	<ul>
		<li>
			<strong>0.3.1</strong>
			<ul>
				<li>Add French translation</li>
			</ul>
		</li>
		<li>
			<strong>0.3.0</strong>
			<ul>
				<li>Optionally discard nodes with high error from export</li>
			</ul>
		</li>		
		<li>
			<strong>0.2.9</strong>
			<ul>
				<li>Fix ohloh.net widget</li>
			</ul>
		</li>
		<li>
			<strong>0.2.8</strong>
			<ul>
				<li>Fix export for long tracks</li>
				<li>Fix time on graphs</li>
			</ul>
		</li>
		<li>
			<strong>0.2.7</strong>
			<ul>
				<li>Some improvements around map preview</li>
				<li>Fixes for devices with different screen resolution</li>
				<li>Add Ohloh widget to "About" page</li>
			</ul>
		</li>		
		<li>
			<strong>0.2.6</strong>
			<ul>
				<li>Change track ordering</li>
				<li>Fix for webOS 2</li>
			</ul>
		</li>
		<li>
			<strong>0.2.5</strong>
			<ul>
				<li>Fixed map drawing for south hemisphere</li>
			</ul>
		</li>
		<li>
			<strong>0.2.4</strong>
			<ul>
				<li>Make possible rename track</li>
				<li>Fixed waypoint list handling on "info" page</li>
			</ul>
		</li>
		<li>
			<strong>0.2.3</strong>
			<ul>
				<li>Draw waypoints on map preview</li>
				<li>Fix timezone handling</li>
			</ul>
		</li>
		<li>
			<strong>0.2.2</strong>
			<ul>
				<li>Add option for export waypoints (to *.loc file)</li>
				<li>Add map preview to info page (use OpenStreetMap.org exports)</li>
			</ul>
		</li>
		<li>
			<strong>0.2.1</strong>
			<ul>
				<li>Split export files is no longer needed</li>
				<li>Reduce nodes count when device isn't moving</li>
			</ul>
		</li>		
		<li>
			<strong>0.2.0</strong>
			<ul>
				<li>Add waypoints support</li>
				<li>Prevent sleep when tracking is on</li>
				<li>Make MojoTracker translatable</li>
				<li>Add popup menu to location (copy to clipboard, share via SMS/email)</li>
				<li>Fixed export to kml (null values issue)</li>
			</ul>
		</li>
		<li>
			<strong>0.1.29</strong>
			<ul>
				<li>Added screen with detailed track info</li>
				<li>Added altitude and speed graphs</li>
				<li>Added export to kml data format</li>
			</ul>
		</li>
		<li>
			<strong>0.1.28</strong>
			<ul>
				<li><strong>Warning: DB format isn't compatible with previous release</strong></li>
				<li>Displays and stores more information like altitude, position accuracy, speed...</li>
				<li>Added preference page, specify preferred units.</li>
				<li>Added page with list of saved tracks</li>
				<li>Added option to delete saved track</li>
				<li>Added export button,
					<a href="http://www.precentral.net/homebrew-apps/filemgr-service">FileMgr service</a>
					is required for this functionality (tested with FileMgr 0.5.1 api)</li>
				<li>Added compass</li>
			</ul>
		</li>
		<li>
			<strong>0.1.27</strong>
			<ul>
				<li><strong>First public release</strong></li>
				<li>Display position information from internal GPS</li>
				<li>Store tracks to SQLite file on internal storage</li>
				<li>Exports tracks to gpx file - requires external conversion tool</li>
			</ul>
		</li>
	</ul>
	</div>

</div>
