<div id="main" class="palm-hasheader">
	<div class="palm-header">Track <span id="currentTrack" >&nbsp;</span></div>
	
	
	<div class="palm-group">
		<div class="palm-group-title">
			Information
		</div>
		
		<div class="tracker-line " style="">
			<div class="tracker-line-header">Start</div>
            <div class="tracker-value">
                <span id="startTime" >&nbsp;</span>
            </div>
		</div>		
		
		<div class="tracker-line " style="">
			<div class="tracker-line-header">End</div>
            <div class="tracker-value">
                <span id="endTime" >&nbsp;</span>
            </div>
		</div>		
		
		<div class="tracker-line indent" >
            <div style="position:absolute; left:0%; width:40%">
                <div class="tracker-line-header">Track length</div>
                <div class="tracker-value">
                    <div id="trackLength" >&nbsp;</div>
                </div>
            </div>
            <div style="position:absolute; left:40%; width:44%" >
                <div class="tracker-line-header">Maximum speed</div>
                <div class="tracker-value">
                    <div id="maxSpeed" >&nbsp;</div>
                </div>
            </div>
            <div style="position:absolute; left:85%; width:20%">
                <div class="tracker-line-header">Nodes</div>
                <div class="tracker-value">
                    <div id="tracknum" >&nbsp;</div>
                </div>
            </div>
            &nbsp;
		</div>

		<div class="tracker-line indent" style="">
			<div class="tracker-line-header">Minimum / maximum altitude</div>
            <div class="tracker-value">
                <span id="minAltitude" >&nbsp;</span> /
                <span id="maxAltitude" >&nbsp;</span>
            </div>
		</div>
		
    </div>


	<div class="title">
		Altitude
	</div>

    <canvas id="altitudeCanvas" width="315" height="200" style="border:1px solid gray;">
		Your browser does not support HTML5 Canvas.
    </canvas>

</div>
